body {
    text-align: center;
    background-color: lightblue;
}
form {
    
    text-align: left;
    padding: 20px;
    border: 1px ;
    border-radius: 5px;
    background-color: rgb(82, 95, 181);
}
