body {
    text-align: center;
    background-color: lightblue;
}
form {
    display: inline-block;
    text-align: left;
    padding: 20px;
    border: 1px ;
    border-radius: 5px;
    background-color: rgb(95, 113, 230);
}
button {
    
    padding: 5px 10px;
    border: 1px solid #7f609d;
    background-color: blue;
    color: white;
    display: block;
    margin: 10px auto 0;
}
